<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrashTableViewCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>621BAC4E1B4EE77000C50A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621BAC621B4EE77000C50A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621BAC6D1B4EE77000C50A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
